.homeSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.homeSection .imgContainer {
  width: 300px;
  height: 310px;
}
.homeSection .imgContainer .img {
  width: 100%;
  height: 100%;
}
.homeSection .reviewsContainer {
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.3rem;
}
.homeSection .reviewsContainer span {
  font-weight: 800;
  font-size: 13px;
}
.homeSection .logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.homeSection .logoContainer .logoimgContainer span {
  font-size: 45px;
  font-weight: 500;
  align-self: flex-end;
}
.homeSection .storeImgs {
  margin: 4rem auto 0.5rem;
}
.homeSection .appStoreimgContainer {
  margin: 0.5rem auto;
  width: 380px;
  height: 110px;
}
.homeSection .appStoreimgContainer .img {
  width: 100%;
  height: 100%;
}

.homeSection .briefAboutapp {
  line-height: 40px;
  font-weight: 500;
  font-size: 18px;
  width: 775px;
  margin: 2rem auto 0.5rem;
  padding: 15px;
}
.homeSection .featurespara {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.2rem;
  font-weight: 500;
  font-size: 18px;
  padding: 13px;
  width: 775px;
}

.reviewsCardsSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.9rem;
  margin-top: 6rem;
}
.reviewsCardsSection h2.title {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
}

.animationContainer {
  width: 80%;
  overflow: hidden;
  margin-bottom: 19rem;
  border-radius: 35px;
  padding: 30px 0;
  background: #ffffff36;
}

.animationContainer .marquee {
  margin: 0.3rem auto;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .reviewsCardsSection h2.title {
    font-weight: 700;
    font-size: 29px;
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .homeSection .briefAboutapp,
  .homeSection .featurespara {
    font-size: 19px;
    width: 98%;
    line-height: 35px;
  }
}

@media only screen and (max-width: 575.98px) {
  .homeSection .appStoreimgContainer {
    width: 99%;
    height: 90px;
  }
  .homeSection .briefAboutapp,
  .homeSection .featurespara {
    font-size: 17px;
    width: 98%;
    line-height: 32px;
  }
  .homeSection .featurespara {
    font-size: 16px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .reviewsCardsSection h2.title {
    font-weight: 700;
    font-size: 25px;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .homeSection .appStoreimgContainer {
    width: 95%;
    height: 80px;
  }
}
